@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
/*************** Other rules ***************/
* {
  object-fit: cover;
  font-family: "Roboto Condensed", sans-serif;
}

/*************** HEADER ***************/
header {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
  padding: 20px 0;
}
/* left-header */
.header-left {
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.logo {
  width: 150px;
  margin: 5px 20px;
  border-radius: 7px;
}

/* mid-header */
.header-mid,
.header-right,
.log-buttons {
  display: flex;
}
.header-mid button,
.header-right button {
  margin: 0 20px;
  padding: 10px 20px;
}
.header-mid span:hover,
.header-right span:hover,
.header-right button:hover {
  cursor: pointer;
}
.header-mid span,
.header-right span {
  margin: 0 20px;
  padding: 5px 20px;
  /* background-color: pink; */
  color: white;
}
header Link span {
  text-decoration: none !important;
}
/* right-header */
.header-right {
  margin-right: 50px;
}

/************** MAIN PAGE **************/
.body {
  background-color: #202020;
  width: 100%;
}
/* search engine */

.searchBar {
  width: 500px;
  padding: 15px 10px;
  border: none;
  background-color: gold;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.contain-search {
  overflow: scroll;
  width: 500px;
  height: 100px;
}
.suggestions {
  width: 520px;
  margin: 0 20px;
}
.suggestion {
  padding: 5px 10px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  background-color: gold;
}
.suggestion:hover {
  cursor: pointer;
  opacity: 0.9;
  background-color: gray;
}

/* ------------- */
.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.char {
  margin: 20px 50px;
  width: 250px;
  /* position: relative; */
}
.char p,
.char h3 {
  color: gold;
}
.char:hover {
  opacity: 0.8;
  cursor: pointer;
}
.char img {
  width: 100%;
  border-radius: 50%;
  height: 250px;
}
.char h3 {
  text-align: center;
}
.char p {
  font-style: italic;
  height: 80px;
  overflow: scroll;
}

/* favorite in main page */
.char > div {
  position: relative;
}
.char .iconStar {
  color: yellow;
  background-color: lightblue;
  padding: 10px 10px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  right: 30px;
}
.iconStar:hover {
  opacity: 0.6;
  cursor: pointer;
}
/*************** COMIC BY CHAR PAGE ***************/

.charac-comics {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  padding: 10px 0;
}
.comics {
  margin: 20px 60px;
}
.comics h3 {
  text-align: center;
  color: gold;
  width: 500px;
}
.comics img {
  width: 500px;
  height: 700px;
}

/*************** COMICS PAGE ***************/

.body-comics {
  background-color: silver;
}
.contain-comics {
  background-color: black;
  margin: 20px 50px;
  position: relative;
  width: 450px;
}
.contain-comics img {
  width: 450px;
  height: 620px;
}
.contain-comics h3,
.contain-comics p {
  color: gold;
}
.contain-comics h3 {
  text-align: center;
}
.contain-comics p {
  width: 450px;
  font-style: italic;
}
.contain-comics .iconHeart {
  color: red;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  /* border: 1px solid gold; */
  background-color: white;
  border-radius: 50%;
  padding: 5px 5px;
}
.contain-comics .iconHeart:hover {
  cursor: pointer;
  opacity: 0.8;
}

/*************** CONNECT PAGES ***************/

.form {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form input {
  margin: 5px 5px;
}
.wrong {
  border-color: red;
}
.wrongmessage {
  color: red;
}
/* .red {
  border-color: red;
}
.error {
  color: red;
} */
/*************** FAVORITE PAGE ***************/

.fav-charac {
  display: flex;
  flex-wrap: wrap;
  /* margin: 0 20px; */
}
.yourFavorites {
  margin: 20px 0;
  text-align: center;
}

.fav-charac div {
  margin: 0 20px;
}
.fav-charac img {
  width: 250px;
  height: 340px;
}
.favorites {
  position: relative;
}
.fav-delete {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 2px;
}
.fav-delete:hover {
  cursor: pointer;
  opacity: 0.8;
}
.choice {
  display: flex;
  justify-content: center;
  align-items: center;
}
.choice span {
  margin: 40px 30px;
  font-size: 24px;
  border: 1px solide black;
}
.choice span:hover {
  cursor: pointer;
}
