@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
/*************** Other rules ***************/
* {
  object-fit: cover;
  font-family: "Roboto Condensed", sans-serif;
}

/*************** HEADER ***************/
header {
  width: 100vw;
  height: 12vh;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
  padding: 4vh 0;
}
/* left-header */
.header-left {
  display: flex;
  align-items: center;
  margin-left: 10vw;
}
.logo {
  width: 25vh;
  margin: 5px 20px;
  border-radius: 3%;
}

/* mid-header */
.header-mid,
.header-right,
.log-buttons {
  display: flex;
}
.header-mid button {
  margin: 0 4vw;
  padding: 2vw 2vw;
}
.header-mid span:hover,
.header-right span:hover,
.header-right button:hover {
  cursor: pointer;
}
.header-mid span {
  margin: 0 4vw;
  padding: 2vw 2vw;
  /* background-color: pink; */
  color: white;
}

.header-right .log-buttons span {
  margin: 0 0vw 0 3vw;
  padding: 2vw 0.1vw;
  color: gold;
}
.header-right .wrongmessage {
  color: red;
}
header Link span {
  text-decoration: none !important;
}
/* right-header */
.header-right {
  margin-right: 10vw;
}

/************** MAIN PAGE **************/
.body {
  background-color: #202020;
  width: 100vw;
}
/* search engine */
.search {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}
.search-right {
  margin: 4vh 2vw;
}
.search-right span button {
  border: 1px white solid;
  border-radius: 50%;
  padding: 0.2vh 0.4vw;
  margin: 0 0.8vw;
  font-size: 20px;
  background-color: #202020;
  color: white;
}
.search-right span button:hover {
  cursor: pointer;
}
.invisible {
  opacity: 0;
}
.invisible:hover {
  cursor: inherit !important;
}
.option1 {
  display: inherit;
}
.option2 {
  display: none;
}
.search-right span {
  margin: 0 2vw;
}
.search-right input[type="number"] {
  width: 3vw;
}
.searchBar {
  width: 32vw;
  padding: 15px 10px;
  border: none;
  background-color: white;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.contain-search {
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 32.5vw;
  height: 12vh;
  padding: 0 5px;
}

.contain-search::-webkit-scrollbar {
  display: none;
}

.suggestions {
  margin: 0 20px;
}
.suggestion {
  padding: 5px 10px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  background-color: white;
}
.suggestion:hover {
  cursor: pointer;
  opacity: 0.9;
  background-color: gray;
}

/* ------------- */
.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.char {
  margin: 0 50px 10px 50px;
  width: 17vw;
  /* height: 17vw; */
  /* position: relative; */
}
.char p,
.char h3 {
  color: white;
}
.char:hover {
  opacity: 0.8;
  cursor: pointer;
}
.char img {
  width: 100%;
  border-radius: 50%;
  height: 17vw;
}
.char h3 {
  text-align: center;
}
.char p {
  font-style: italic;
  height: 11vh;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  opacity: 0;
}
.char p::-webkit-scrollbar {
  display: none;
}

/* favorite in main page */
.char > div {
  position: relative;
}
.char:hover .starIcon,
.char:hover p {
  opacity: 1;
}
.char .iconStar,
.char .starIcon {
  padding: 10px 10px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  right: 30px;
  /* opacity: 0; */
}
.char .iconStar {
  color: white;
  background-color: red;
  /* opacity: 0; */
}
.iconStar:hover {
  opacity: 0.6;
  cursor: pointer;
}
.char .starIcon {
  color: red;
  background-color: white;
  opacity: 0;
}
.starIcon:hover {
  opacity: 0.6;
  cursor: pointer;
}
/*************** COMIC BY CHAR PAGE ***************/

.charac-comics {
  display: flex;
  flex-wrap: wrap;
  background-color: #202020;
  padding: 10px 0;
  width: 100vw;
}
.comics {
  margin: 20px 2vw;
  width: 15vw;
}
.comics h3 {
  text-align: center;
  color: white;
  width: 100%;
}
.comics img {
  width: 100%;
  /* height: 700px; */
}

/*************** COMICS PAGE ***************/

.body-comics {
  background-color: #202020;
  width: 100vw;
  /* height: 100vh; */
}
.container {
  width: 100%;
  /* height: 100%; */
}
.contain-comics {
  margin: 20px 30px;
  position: relative;
  width: 15vw;
}
.contain-comics img {
  width: 100%;
  /* height: 60vh; */
}
.contain-comics h3,
.contain-comics p {
  color: white;
  width: 14vw;
  opacity: 0;
}
.contain-comics:hover h3,
.contain-comics:hover p {
  opacity: 1;
}
.contain-comics h3 {
  text-align: center;
  height: 4vh;
}
.contain-comics p {
  height: 8vh;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  font-style: italic;
}
.contain-comics p::-webkit-scrollbar {
  display: none;
}

.contain-comics:hover .starIcon,
.contain-comics:hover p {
  opacity: 1;
}
.contain-comics .iconStar,
.contain-comics .starIcon {
  padding: 10px 10px;
  border-radius: 50%;
  position: absolute;
  top: 75px;
  right: 15px;
  /* opacity: 0; */
}
.contain-comics .iconStar {
  color: white;
  background-color: red;
  /* opacity: 0; */
}
.iconStar:hover {
  opacity: 0.6;
  cursor: pointer;
}
.contain-comics .starIcon {
  color: red;
  background-color: white;
  opacity: 0;
}
.starIcon:hover {
  opacity: 0.6;
  cursor: pointer;
}

/*************** CONNECT PAGES ***************/
.body-log {
  background-color: #202020;
  width: 100vw;
  height: 100vh;
}

.form {
  width: 20vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 40vw;
  padding-top: 30vh;
}
.form h3 {
  color: white;
}
.form input {
  margin: 5vh 0;
}
.form input:not([type="submit"]) {
  width: 12vw;
  margin: 5px 5px;
  padding: 5px 5px;
}
.form input[type="submit"] {
  color: white;
  background-color: red;
  border: none;
  border-radius: 0.2vw;
  /* width: 8vw;
  height: 20px; */
  padding: 0.5vh 2.5vw;
}
.wrong {
  border-color: red;
}
.wrongmessage {
  color: red;
}
.white {
  color: white;
}
/*************** FAVORITE PAGE ***************/
.body-fav {
  background-color: #202020;
  width: 100vw;
  /* height: 200vh; */
}
.body-load {
  background-color: #202020;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading {
  color: white;
  font-size: 30px;
}
.fav-charac {
  display: flex;
  flex-wrap: wrap;
  /* margin: 0 20px; */
}
.yourFavorites {
  margin: 0 0;
  padding-top: 20px;
  text-align: center;
  color: red;
}

.fav-charac div {
  margin: 0 1.8vw;
  text-align: center;
  color: white;
}
.fav-charac img {
  width: 15.5vw;
  height: 15.5vw;
  border-radius: 10%;
}
.favorites {
  position: relative;
  margin: 4vh 2vw !important;
}
.fav-delete {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 2px;
  color: gold;
}
.fav-delete:hover {
  cursor: pointer;
  opacity: 0.8;
}
.someSpace {
  /* height: 100vh; */
}
.choice {
  display: flex;
  justify-content: center;
  align-items: center;
}
.choice span {
  margin: 40px 30px;
  font-size: 24px;
  border: 1px solid black;
  /* background-color: white; */
}
.switchOn {
  background-color: gold;
}
.switchOff {
  /* opacity: 0; */
  background-color: white;
}
.choice span:hover {
  cursor: pointer;
}

/* ---**********************************--- */
/***************** FOOTER ******************/
/* ---********************************--- */
footer {
  width: 100vw;
  height: 12vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer div {
  color: white;
}
footer div a {
  text-decoration: none;
  color: gold;
  font-weight: bold;
}

/* ----------------- MEDIA QUERIES ---------------- */

@media (min-width: 1025px) and (max-width: 1440px) {
  .search-right span {
    font-size: 14px;
  }
  .option1 {
    display: none;
  }
  .option2 {
    display: inherit;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .search-right span {
    font-size: 12px;
  }
  .option1 {
    display: none;
  }
  .option2 {
    display: inherit;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .logo {
    margin: 2px 5px;
  }
  .search-right span {
    font-size: 12px;
  }
  .search-right .option1 {
    display: none;
  }
  .search-right .option2 {
    display: inherit;
  }
}

@media (max-width: 425px) {
  header {
    overflow: scroll;
  }
}
